// colors
$white: #fff;
$white2: #eee;
$white3: #FAFAFA;
$black: #2B2B2A;
$black2: #131313;
$black3: #242424;
$purple: #531FB5;
$purple2: #140D2D;
$yellow2: #FDD307;
$yellow3: #E0FF00;
$yellow4: #CAE700;
$blue: #2D4068;
$blue2: #3D68C2;
$gray: #D9D9D9;
$gray2: #888888;
$gray3: #DBDBDB;
$gray4: #F2F0F0;
$orange: #FF9501;
$red: #AD0E29;
$yellow: #FDD700;


// media
$media_xxxl: 'max-width: 1400px';
$media_xxl: 'max-width: 1300px';
$media_xl: 'max-width: 1200px';
$media_lg: 'max-width: 1100px';
$media_lg2: 'max-width: 1000px';
$media_lg3: 'max-width: 900px';
$media_md: 'max-width: 800px';
$media_md2: 'max-width: 700px';
$media_sm: 'max-width: 600px';
$media_sm2: 'max-width: 500px';
$media_xs: 'max-width: 400px';