.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .model-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 40px;
    width: 30%;
    border-radius: 5px; 
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width: 1870px) {
    .signup__input-text {
      min-width: 445px;
  }

  .signup__input-email {
      min-width: 445px;
  }

  .mobile-input-text {
    margin-top: 60px;
  }
}

@media (max-width: 1720px) {
  .signup__input-text {
    min-width: 430px;
}

.signup__input-email {
    min-width: 430px;
}

}
@media (max-width: 1660px) {
  .signup__input-text {
    min-width: 400px;
}

.signup__input-email {
    min-width: 400px;
}

}

@media (max-width: 1590px) {
  .signup__input-text {
    min-width: 360px;
}

.signup__input-email {
    min-width: 360px;
}

}

@media (max-width: 1445px) {
  .signup__input-text {
    min-width: 330px;
}

.signup__input-email {
    min-width: 330px;
}

}

@media (max-width: 1340px) {
  .signup__input-text {
    min-width: 310px;
}

.signup__input-email {
    min-width: 310px;
}

}