.main__firste {
    background-color: $purple2;
    
}

.main__firste-container {
    display: flex;
}

.info__text-one {
    min-width: 735px;
    font-family: 'Krona One';
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    text-transform: capitalize;
    color: $white;
    margin: 0px;
    margin-top: 173px;
}

.info__text-two {
    margin: 0px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: $white;
}

.info__btn {
    padding: 18px 37px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    background-color: $yellow3;
    border-radius: 6px;
    transition: 0.6s ease;
}

.info__btn:hover {
    background-color: $white;
}

.main__firste-img {
    min-width: 551px;
    min-height: 838px;
}

@media (max-width: 1250px) {
    .main__firste-img {
        display: none;
    }
    .info__btn  {
        margin-bottom: 200px;
    }
}

@media (max-width: 760px) {
    .info__text-one {
        min-width: 600px;
        font-family: 'Krona One';
        font-weight: 400;
        font-size: 60px;
        line-height: 75px;
        text-transform: capitalize;
        color: $white;
        margin: 0px;
        margin-top: 173px;
    }
    
    .info__text-two {
        margin: 0px;
        margin-top: 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $white;
    }
}

@media (max-width: 600px) {
    .info__text-one {
        min-width: 450px;
        font-family: 'Krona One';
        font-weight: 400;
        font-size: 50px;
        line-height: 75px;
        text-transform: capitalize;
        color: $white;
        margin: 0px;
        margin-top: 173px;
    }
    
    
}

@media (max-width: 470px) {
    .info__text-one {
        min-width: 410px;
        font-size: 45px;
    }
    .info__text-two {
        max-width: 400px;
        font-size: 18px;
    }
    
}

@media (max-width: 424px) {
    .info__text-one {
        min-width: 340px;
        font-size: 45px;
    }
    .info__text-two {
        max-width: 400px;
        font-size: 17px;
    }
    
}
@media (max-width: 391px) {
    .info__text-one {
        min-width: 330px;
        font-size: 40px;
    }
    .info__text-two {
        max-width: 400px;
        font-size: 17px;
    }
    
}

